body {
    background-color: rgb(252, 249, 63);
    color: rgb(252, 249, 63);
    width: 96%;
    margin: 5% 2%;
    font-size: 1.5em;
}
.all-container {
    border-radius: 4px;
    background-color: rgba(95, 88, 88, 0.658);
    padding: 1px 1px
       
}

.main-nav {
    color: black;
    display: flex;
    justify-content: space-between;
    margin: 3% 5%;
    background-image: url("https://static9.depositphotos.com/1026550/1177/i/950/depositphotos_11770622-stock-photo-classic-ablecloth-background-texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-nav .background-logo  {
    display: flex;
    align-items: center;
    width: 40%;
}


.main-nav img  {
    margin: 0 5%;
    width: 140px;
    padding-left: 10%;
    padding-top: 10%;
    
}

nav .proper-nav {
    display: flex;
    font-family: 'Dancing Script', cursive;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 10%;
    padding: 10% 10% 10% 10%;
}

nav .proper-nav i{
    font-size: 3em;
    align-self: flex-end;
}
/* title Welcome */
header {
    padding: 2% 5%;
    margin: 0 5%;
    background-color: rgba(75, 209, 209, 0.76);
    border-radius: 3px;
}

header h1 {
    font-family: 'Dancing Script', cursive;
}
/*contenido de cakes a la venta */
main .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content .principal-image {
    width: 100%;
}


main .content .columns {
    display: flex;
    flex-direction: row;
    margin: 5% auto;
}

.columns .first-column-img, .second-column-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3%;
    
}

main .content h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;
    border-top: dashed 2px white;
    border-bottom: dashed 2px white;
}

main .content p {
    border-bottom: solid yellow 1px;
}
/*  footer de contacto */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color:  rgba(75, 209, 209, 0.603);
    color: black;
}

footer .social-images {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

@media (min-width: 540px) {
    .main-nav img {
        width: 170px;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
    }
}